<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            overflow: hidden;
            background-color: #798b65;
            color: antiquewhite;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .home-container {
            text-align: center;
        }

        h1 {
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
            margin-bottom: 30px;
        }

        .logout-button {
            background-color: #552523;
            color: antiquewhite;
            border: none;
            padding: 14px 30px;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s ease;
            text-decoration: none;
        }

        .logout-button:hover {
            background-color: #552523;
        }
    </style>
</head>
<body>
    <div class="home-container">
        <a href="http://127.0.0.1:3001/SaveMyPlants/main-index.html"><h1>Welcome to Save My Plants!</h1></a>
        <p>Click link to go to home page.</p>
        <form action="/logout" method="get">
            <button class="logout-button" type="submit">Logout</button>
        </form>
    </div>
</body>
</html>